body {
  color: white;
} 

  .section_boisson {
    background-color: beige;
    padding-bottom:30px;
    color:black;
  }
  

.nos_boissons{
    font-family : Bellerose;
    color : #660606;
    font-size : 50px;
    padding : 40px;
    margin-bottom : 30px;
    text-align: center;
    text-shadow: black
  1px 1px, black
  -1px 1px, black
  -1px -1px, black
  1px -1px;
}


.img_pinte{
    object-fit:cover;
    border-radius: 10px;
    max-width : 40%;
}

.section_boisson, .section_plat{
    line-height: 15px;
    text-align:center;
}

.boisson_top{
    display :flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom:50px;
   align-items:center;
}

.boisson_bottom{

    display :flex;
    flex-direction: row;
    justify-content: space-around;
}

.nom_biere{
    font-weight : bold;


}

.section_boisson p:not(.nom_biere){
    font-style : italic;
}

.section_boisson p{
    font-size:19px;
}

.reserver{
    display:flex;
    justify-content: center;
    margin : 5% 0 5% 0;
}

.bouton_reservation{
  background-color: #3f3f3f;
  border-radius: 10px;
  padding: 18px 45px;
  cursor: pointer;
  color: white;
  font-weight: bold;
  text-decoration: none;
  font-size:25px;
}

    /*MANGER*/

  .section_plat{
    background-color: #660606;
    padding-bottom: 30px;
  }

  .nos_plats{
  font-family : Bellerose;
  color :black;
  font-size : 50px;
  padding : 40px;
  margin-bottom : 30px;
  text-align: center;
  text-shadow: white
  1px 1px, white
  -1px 1px, white
  -1px -1px, white
  1px -1px;
  }

.nom_plat{
    font-weight: bold;
}

h3{
    font-size: 25px;
    margin-bottom: 50px;
}
.section_plat p:not(.nom_plat){
font-style : italic;
}

.section_plat p{
    font-size:19px;
}


.img_burger{
    object-fit:cover;
    border-radius: 10px;
    max-width : 40%;
}

.manger_top{
    display :flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 50px;
}

.manger_bottom{
    display :flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 50px;
}

