body {
  background-color: #660606;
  margin: 0;
  font-family: Bellerose;
}

.slide_recrutement {
  width: 100%;
}

h2 {
  font-family: Bellerose;
  font-size: 50px;
  margin: 5% 0 3% 13%;
  text-shadow: white 1px 1px, white -1px 1px, white -1px -1px, white 1px -1px;
}

form p {
  font-size: 20px;
  font-weight: bold;
  margin: auto;
}

.formrecru input,
.formrecru select,
.formrecru textarea {
  margin-bottom: 10px;
  padding: 15px;
  border: 1px solid gray;
  background-color: white;
  border-radius: 10px;
  width: 50%;
}

.download {
  display: flex;
  flex-direction: row;
  width: 50%;
  justify-content: space-between;
}

textarea {
  border-radius: 7px;
}

.bouton {
  width: 150px;
  margin-bottom: 10%;
}

#boutonEnvoyer {
  background-color: #3f3f3f;
  padding: 12px 45px;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  border: none;
  margin: 2px;
  font-weight: bold;
  font-size: 25px;
  text-decoration: none;
  width: 100%;
}

