html {
  scroll-behavior: smooth;
}

body{
  margin:0;
  font-family: Bellerose;
}

@font-face {
  font-family: "Bellerose";
  src: url('Bellerose.ttf');
}


nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color:black;
}

.menuderoulant {
  display: flex;
}

.logonav{
  width: 10%;
  padding-left: 4%
}

.logonav img {
  max-height: 100px;
  width: auto;
}

.navbutton {
  font-family: Bellerose;
  font-size: 200%;
  transition: font-size 0.3s, color 0.3s;
  color: gray;

}

.navbutton:hover {
  font-size: 230%;
  color: white;
  margin-bottom: 0%;
  margin-top:0%;  
  padding-bottom: 0%;
  padding-top:0%;  
}

.reseaux img {
  height: 30px;
  width: 30px;
}

.reseaux {
  width: 9%;
  display:flex;
  flex-direction:row; 
  justify-content: space-between;
  margin-right: 3%;
}

nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  width: 75%;
  margin-left: 7%
}

nav li {
  padding:1% 4%;
}

.vue-exterieure {
  width: 100%;
  margin: 0;
}
#presentation{
  text-align:justify;
  background-color: beige;
  padding-bottom:10px;
}

#presentation h2 {
  color: #660606;
  text-align: center;
  font-size:50px;
}

.text-presentation {
  line-height:23px;
  font-size:17px;
  column-count: 2;
  padding: 40px;
  column-gap: 100px;
}

.presentationEtMap {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 60px;
  padding-left: 20px;
  align-items:center;
}
.bouton {
  background-color: #3f3f3f;
  padding: 12px 45px;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  margin: 2px;
  font-weight: bold;
  font-size: 25px;
  text-decoration: none;
}


#bouton-NousRecrutons{
   text-align: center;
   margin-bottom:80px;
}
#reservation{
  background-color: #660606;
}

#titre-reservation {
  display: flex;
  justify-content: center;
  font-size:50px;
  text-shadow: white
  1px 1px, white
  -1px 1px, white
  -1px -1px, white
  1px -1px;
}

.titreShadow{ 
  text-shadow: #000000
1px 1px, #000000
-1px 1px, #000000
-1px -1px, #000000
1px -1px;
}

.formreservation {
  padding-bottom: 50px;
  text-align: center;
}

label {
  width: 100%;
  display: none;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Notrecarte h2 {
  text-align: center;
  font-size:50px;
  color:#660606;

}

.Notrecarte{
  background-color: beige;
}

.imgNotreCarte{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.titrecarte {
  position: relative;
  top: 50%;
  text-transform: uppercase;
  opacity : 0;
  z-index:1;
  color: rgb(119, 5, 5);
  font-size: 50px;
  font-weight:bold;
  border: 1px solid beige;
  text-shadow: 1px 1px beige;
}

.titrecarte:visited {
  color: rgb(119, 5, 5);

}



.boissonsuper:hover .titrecarte, .platssuper:hover .titrecarte{
  opacity:1;
  transition : 0.5s;
}

.boissonsuper:hover img, .platssuper:hover img{
  filter:blur(2px);
  transition:0.5s;
}

.boissonsuper, .platssuper {
  display:flex;
  flex-direction: column;
  text-align: center;
  margin-top: -100px;
}

.imgNotreCarte img {
    width: 70%;
    border-radius:20px;
  }


#reservation input {
  margin-bottom: 20px;
  font-size: 15px;
  padding: 15px;
  border: 1px solid gray;
  background-color: white;
  border-radius: 10px;
  width: 50%;
}

#cartevisite {
  text-align: center;
  line-height:20px;
}

.logofooter {
  height:70px;
}

#cartevisite img {
  height: 50px;
}

footer {
  font-weight:bold;
  font-size:18px;
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top:50px;
  color :white;
}

.sousfooter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer ul {
  list-style: none;
  text-align: center;
  margin-left: 0px;
  padding-left: 0px;
}
.reseauxFooter{
  margin-right: 0
}

@media screen and (max-width:1125px) {
  .navbutton {
    font-size: 150%;
    color: gray;
  
  }
  
  .navbutton:hover {
    font-size: 180%;
  }

  nav ul {
    margin-left: 10%}
  

  .presentationEtMap{
    display: flex;
    flex-direction: column
  }
  .text-presentation {
    column-count: 1;
    padding: 40px;
  }


  .imgNotreCarte{
    flex-direction: column;
  

}

@media screen and (max-width:925px) {
  .navbutton {
    font-size: 110%;
    color: gray;
  
  }
  
  .navbutton:hover {
    font-size: 140%;
  }

  nav ul {
    margin-left: 13%}




}
@media screen and (max-width:960px){
  footer{
    flex-direction: column;
    padding-top: 10px;
  }
  
  .sousfooter{
    flex-direction: column;
  }

  .reseaux{
    width: 150%;
  }

}