html {
  scroll-behavior: smooth;
}

body{
  margin:0;
  font-family: Bellerose;
}

@font-face {
  font-family: "Bellerose";
  src: url('Bellerose.ttf');
}

#nav {
  display: flex;
  flex-direction: row;
  background-color: black;
  justify-content: space-between; 
  padding: 10px 20px; 
  align-items: center;
}

.smallnav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.icon {
  display: none;
  color : red;
}

.fa{
  color: #660606;
  font-size: 30px;
}

.fullnavbutton {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  flex-grow: 1.5;
  justify-content: space-around;
  padding-right: 2%;
  list-style: none;
}

.reseaux img {
  height: 30px;
  width: 30px;
}

#menuderoulant {
  display: flex;
  flex-grow: 2;
  flex-direction: row;
  align-items: center;  
  justify-content: space-around;
}

.navbutton {
  font-family: Bellerose;
  font-size: 190%;
  transition: font-size 0.3s, color 0.3s;
  color: gray;
}

.navbutton:hover {
  font-size: 230%;
  color: white;
}

.reseaux {
  flex-grow: 0.2;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}   


.text_bannière{
    position: relative;
    text-align: center;
}

h1{
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 13vw;
  color:white;
}
.bannière{
  width: 100%;
  margin: 0;
  filter: brightness(50%);
  -webkit-filter: brightness(50%);
}


#presentation{
  text-align:justify;
  background-color: beige;
  padding-bottom:10px;
}

.responsive_titre{
  font-size : 50px;
}
#presentation h2 {
  color: #660606;
  text-align: center;
}

.text-presentation {
  line-height: 23px;
  font-size: 17px;
  column-count: 2;
  padding: 45px;
  column-gap: 45px;
}

.google_map{
  width : 400px; 
  height :300px;
}

.presentationEtMap {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 60px;
  padding-left: 20px;
  align-items:center;
  margin-right: 45px;
}
.bouton {
  background-color: #3f3f3f;
  padding: 12px 45px;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  margin: 2px;
  font-weight: bold;
  font-size: 25px;
  text-decoration: none;
}


#bouton-NousRecrutons{
   text-align: center;
   margin-bottom:80px;
}
#reservation{
  background-color: #660606;
}

#titre-reservation {
  display: flex;
  justify-content: center;
  text-shadow: white
  1px 1px, white
  -1px 1px, white
  -1px -1px, white
  1px -1px;
}

.titreShadow{ 
  text-shadow: #000000
1px 1px, #000000
-1px 1px, #000000
-1px -1px, #000000
1px -1px;
}

.formreservation {
  padding-bottom: 50px;
  text-align: center;
}

label {
  width: 100%;
  display: none;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Notrecarte h2 {
  text-align: center;
  color:#660606;

}

.Notrecarte{
  background-color: beige;
}

.imgNotreCarte{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.titrecarte {
  position: relative;
  top: 50%;
  text-transform: uppercase;
  opacity : 0;
  z-index:1;
  color: rgb(119, 5, 5);
  font-size: 50px;
  font-weight:bold;
  border: 1px solid beige;
  text-shadow: 1px 1px beige;
}

.titrecarte a{
    color: #660606;
}


.boissonsuper:hover .titrecarte, .platssuper:hover .titrecarte{
  opacity:1;
  transition : 0.5s;
}

.boissonsuper:hover img, .platssuper:hover img{
  filter:blur(2px);
  transition:0.5s;
}

.boissonsuper, .platssuper {
  display:flex;
  flex-direction: column;
  text-align: center;
  margin-top: -100px;
}

.imgNotreCarte img {
    width: 70%;
    border-radius:20px;
  }


#reservation input {
  margin-bottom: 20px;
  font-size: 15px;
  padding: 15px;
  border: 1px solid gray;
  background-color: white;
  border-radius: 10px;
  width: 50%;
}

#cartevisite {
  text-align: center;
  line-height:20px;
}

#cartevisite a {
  color: white;
}

.logofooter {
  height:70px;
}

#cartevisite img {
  height: 50px;
}

footer {
  font-weight:bold;
  font-size:18px;
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top:50px;
  color :white;
}

.sousfooter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer ul {
  list-style: none;
  text-align: center;
  margin-left: 0px;
  padding-left: 0px;
}
.reseauxFooter{
  margin-top: 20px;
  display: flex;
  width: 200px;
  justify-content: space-between;
}

